/target
microclaw.config.yaml
microclaw.config.yaml.*
microclaw.data/*
!microclaw.data/skills/
!microclaw.data/skills/**
website/
tmp/
working_dir/
web/node_modules/
src/comfyui_client_example/.DS_Store
